################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.log
*.env
/Backend/Backend.API/zdjecia/Perfect Wedding_25.08.2024
/Backend/Backend.Infrastructure/Migrations/20241110150458_identity.cs
/Backend/Backend.Infrastructure/Migrations/20241110150458_identity.Designer.cs
/Backend/Backend.Infrastructure/Migrations/20241110212914_init.cs
/Backend/Backend.Infrastructure/Migrations/20241110212914_init.Designer.cs
/Frontend/web/Album/.vs/Album/v17/.suo
/Frontend/web/Album/.vs/Album/FileContentIndex/11f26094-e065-43be-ab07-0620a4a107f7.vsidx
/Frontend/web/Album/.vs/Album/FileContentIndex/3aa36e1c-3ee5-477b-91f5-924676ce3da9.vsidx
/Frontend/web/Album/.vs/Album/FileContentIndex/538efb0c-a958-4bd8-bb4e-c35ee5720474.vsidx
/Frontend/web/Album/.vs/Album/FileContentIndex/51a23c2d-41a9-4f56-b049-a65ca908841e.vsidx
/Frontend/web/Album/.vs/Album/FileContentIndex/9969ad05-ba9c-42d7-b429-71c73785c21c.vsidx
/Frontend/web/Album/.vs/Album/FileContentIndex/222e3206-3d6f-4d91-8f29-2c5d959b5b9c.vsidx
/Frontend/web/Album/.vs/Album/FileContentIndex/7e01cb38-07e3-42a0-9f3b-5225bb8c1849.vsidx
/Frontend/web/Album/.vs/Album/FileContentIndex/e968f3b2-198a-4270-9547-d151ff4edeb2.vsidx
/Frontend/web/Album/.vs/Album/FileContentIndex/f4ae860b-2527-4a0d-bdea-3ddebd2f5356.vsidx
/Backend/Backend.API/zdjecia/Wesele Jarka i Jarki_11.09.2025
/Backend/Backend.Infrastructure/Migrations/20241114220340_init.cs
/Backend/Backend.Infrastructure/Migrations/20241114220340_init.Designer.cs
/Backend/Backend.Infrastructure/Migrations/20241114205551_init.cs
/Backend/Backend.Infrastructure/Migrations/20241114205551_init.Designer.cs
/Frontend/web/Album/.vs/Album/FileContentIndex/1e5892ae-a1ac-4195-87de-f6610cddb34d.vsidx
/Frontend/web/Album/.vs/Album/FileContentIndex/a9b9198f-aedd-4f6b-bbc6-58cc75150a4f.vsidx
/Frontend/web/Album/album/obj/Debug/package.g.props
/Frontend/web/Album/.vs/Album/v17/DocumentLayout.backup.json
/Frontend/web/Album/.vs/Album/v17/DocumentLayout.backup.json
/Frontend/web/Album/.vs/Album/v17/DocumentLayout.backup.json
/Frontend/web/Album/.vs/Album/v17/DocumentLayout.json
/Frontend/web/Album/.vs/Album/FileContentIndex/5fc60706-0bf8-492e-98e6-095fe811d3b1.vsidx
/Backend/Backend.API/appsettings.json
/Backend/Backend.Infrastructure/Extensions/ServiceCollectionExtensions.cs
/Backend/Backend.Infrastructure/Migrations/20241202211425_init.cs
/Backend/Backend.Infrastructure/Migrations/20241202211425_init.Designer.cs
/Frontend/web/Album/.vs/Album/FileContentIndex/ae212c59-e7d0-4633-a97a-0b59c8db1cae.vsidx
/Frontend/web/Album/.vs/Album/v17/.wsuo
