################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.log
*.env
/Backend/Backend.API/zdjecia/Perfect Wedding_25.08.2024
