input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

input[type="date"]::-moz-calendar-picker-indicator {
  display: none;
}

input[type="date"] {
  appearance: none;
  -moz-appearance: none;
}
