@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #eaecef;
}

header {
    padding: 30px;
    background:  #011627;
    height: 40px;
}

.sidenav {
    width: 240px;
    background: #011627;
    position: absolute;
    height: 95vh;
    padding: 0 30px;
    left: -100%;
    transition: all 0.3s;
}

.sidenav.active {
    left: 0;
}

.logo {
    width: 100px;
}

ul {
    padding: 0;
}
 ul li {
    list-style-type: none;
    margin: 10px 0;
 }

 ul li a {
    color: #eaecef;
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 10px 15px;
    border-radius: 6px;
 }

 ul li a:hover, 
 ul li a.active{
    background: #172b4d;
 } 

 header svg {
    font-size: 40px;
 }

 .main {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #c9c9c9;
    margin-top: 40px;
    flex-grow: 1;
    /* padding: 20px; */
    overflow-y: auto;
 }